{erl_opts, [debug_info]}.
{deps, []}.
{minimum_otp_vsn, "22"}.
{relx, [
  {release, {elogx, "0.0.2"}, [sasl, elogx]},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args.src"},
  {dev_mode, true},
  {include_src, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{plugins, [rebar3_hex]}.