[
  {kernel, [
    {logger_level, info},
    {error_logger, tty},
    {logger, [
      {handler, default, logger_std_h, #{
        formatter => {logger_formatter, #{single_line => true, template => [time, " ", pid, " ", gl, " ", level, ": ", msg, "\n"]}},
        config => #{file => "logs/info.log"}
      }}
    ]}
  ]},
  {elogx, [
    {logger, [
      {handler, elogx_cnt_h, elogx_cnt_h, #{
        formatter => {logger_formatter, #{single_line => true, template => [time, " ", level, ": ", msg, "\n"]}},
        config => #{file => "logs/cnt.log", max_no_count => 10}
      }}
    ]}
  ]}
].